[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow-protobuf = "==2.7.0"
flask = "*"
gunicorn = "*"
grpcio = "==1.42.0"
tensorflow-serving-api = "==2.7.0"
keras-image-helper = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.11"
